* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0;
}


body {
    display: flex; 
    flex-direction: column; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #789aa3, #0b656b);
    color: #333;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #1a4550, #0c1d2c );
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    flex: 1;
}

#titleMain{

    margin: 5px 0 0 20px;
    font-size: 2.5rem;
    color: #0c1d2c


}

#titleMain:hover{
    transition: color 0.3s ease; 
    cursor: pointer; 
    color:rgb(12, 9, 153);

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer; 
    transition: color 0.3s ease; 
    
}

nav ul li a:hover {
    color:rgba(134, 235, 19, 0.267)
    
}

.fixed-image {
    position: fixed;
    width: 200px;
    height: 250px;
    z-index: 1000;
}

.fixed-image.left {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}

.fixed-image.right {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    
}


main {
    flex: 1; 
    padding: 2rem;
    text-align: center;
}



section {
    padding: 2rem;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #1a4550, #0d1d2b); 
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2  {
    
    font-size: 1.5rem;
    color: #0c1d2c

}

#realTitle{
    margin-top: 30px;
}

#Leaves, #Flocon, #Tundra{
    margin-top: 40px;
    margin-right: 240px;

    font-size: 1.2rem;
    color: #0c1d2c

}

#LeavesMp3, #FloconMp3, #TundraMp3 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #091855;
    color: #150c63;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
}

#LeavesMp3:hover , #FloconMp3:hover, #TundraMp3:hover{
    background-color: #23258b;
    transform: scale(1.05);
}

#LeavesMp3:active, #FloconMp3:active, #TundraMp3:active {
    background-color: #634ecb;
    transform: scale(0.95);
}

#LeavesMp3.playing, #FloconMp3.playing, #TundraMp3.playing {
    background-color: #165e6b;
    color: #ffffff;
}


